section.content {
  height: auto;
}

div.slide {
  padding-top: 20px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-inner {
  display: none;
  transition: opacity 0.4s ease;
}

.slide-inner.active {
  overflow: hidden;
  display: flex !important;
}

.slide-page {
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
  transition: transform 0.5s ease-in-out;
}

.slide-item {
  width: 25%;
  padding: 10px;
  
}
.slide-item>div{
  position: relative;
  overflow: hidden;
}
.slide-item img {
  width: 100%;
  display: block;
  border-radius: 8px;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
}
.fa-cart-plus{
  position: absolute;
  right: 18px;
  bottom: 18px;
  font-size: 22px;
  transition: all 0.3s ease;
}
.fa-cart-plus:hover{
  transform: scale(1.2);
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pagination button {
  background-color: #fff8f5;
  border: 1px solid #c48c64;
  color: #845839;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
  font-size: 16px;
}

.pagination button:hover {
  background-color: #c48c64;
  color: #fff;
}


.slide-item:hover .overlay {
  opacity: 1;
}

.text {
  padding: 20px;
}

.name {
  font-size: 1.2em;
  margin: 0;
}

.price {
  font-size: 1em;
  margin: 0;
}
